<table class="table table-bordered mt-3 ml-5" style="color: white;background-color:794F00;">
    <thead>
        <tr>
            <th colspan="3" class="text-center">
                Carro compras
            </th>
        </tr>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% if request.session.carro.items %}
        {% for key, value in request.session.carro.items %}
        <tr class="text-center">
            <td>{{value.nombre}}</td>
            <td>{{value.cantidad}}</td>
            <td>
                <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a><br>
                {{value.precio}}&nbsp;$
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">
                <div class="alert alert-danger text-center">Sin Productos</div>
            </td>
        </tr>
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
        {% if request.session.carro.items %}
            <td colspan="2" class="text-center">Total: {{importe_total_carro}}</td>
            <td colspan="1"><a class="btn btn-danger" href="{% url 'carro:limpiar' %}">Eliminar</a></td>
        </tr>
        <tr><td colspan="3"><a class="btn btn-success" style="margin-left: 25%;" href="{% url 'confirmacionPedido'%}">Realizar pedido</a></td></tr>
        {% else %}
        <td colspan="3" class="text-center">Total: {{importe_total_carro}}</td>
        {% endif %}

    </tfoot>
</table>

