{% extends "tiendaonlineapp/base.html" %}
{% load static %}

{% block content %}

<div class='contenedorFormulario' style="background-color:794F00;">
    {% if 'valido' in request.GET %}
    <p>Informacion enviada con exito</p>
    {% endif %}
    <div class="form-group">
        <form action="" , method="POST" , style="text-align: center;">
            {% csrf_token %}
            <table style="color: white; margin: 20px auto;">{{miformulario.as_table}}</table>
            <input type="submit" value="Enviar" style="width: 150px" class="btn btn-success">
        </form>
    </div>
</div> 
{% endblock %}